<p>Hay un nuevo resumen aprobado:</p>

<p>Título: <%= @abstract.title %></p>
<p>Autor: <%= @abstract.author %></p>
<p>Organización: <%= @abstract.organization %></p>
<p>E-mail: <%= @abstract.email %></p>