<div id="about" class="row block">
  <div class="col-md-12">
    <h1>About SotM</h1>
    <p>The State of the Map (SotM) conference is the annual conference of OpenStreetMap. Organised by the OpenStreetMap Foundation it has been held each year since 2007. There have also been any other regional and local conferences named "State of the Map".</p>
    <p>After being in Europe, North America and Asia, it is time to explore yet another continent. The OpenStreetMap Foundation is happy to announce that the 8th international State of the Map 2014 conference will be held in Buenos Aires, Argentina on November 7th–9th.</p>
    <p>OSM is a truly global project with people all over the globe. Having SotM14 in Argentina is a great way to show the world what’s going on in South America regarding OSM and it can help strengthen the local OSM communities there.</p>
    <div id="photos" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="none">
      <div class="carousel-inner">
        <% @images.each_with_index do |image, index| %>
          <div class="item<%= ' active' if index == 0 %>">
            <%= image_tag image %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
