<div class="row banner">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag 'logo_full.png', {:class => 'logo'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 jumbotron">
        <h2>The 2014 international OpenStreetMap conference will be held at Buenos Aires. This is the first time SOTM will take place in South America. You can't miss it!</h2>

        <div class="text-center"><a href="#about" class="btn btn-default btn-lg" role="button"><%=t :register %></a></div>
        <br/>
        <h4 class="hidden-xs">State of the Map is the global gathering for everyone that contributes to and/or uses OpenStreetMap. We assemble to celebrate the scale of the changes and achievements so far. There are keynotes and breakout streams of presentations and workshops examining current practices, organisation and relationships.</h4>
        <br/>
        <a href="#about" class="btn btn-info btn-lg hidden-xs" role="button">More info</a>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div> 
