<a id="cfp_alert"></a>
<div class="row block translucid-white"> 

      <div class="col-xs-12" style="text-align:center;">
        <h3><i class="fa fa-video-camera" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t 'cfp_alert.html' %></h3>
      </div>
      <div class="col-xs-12" style="text-align:center;">
        <h3><%=t 'app_alert.html' %></h3>
	        <a href="" target="_blank">
	        	<img src="/assets/QR_Sotm.png" alt="alternative text" />
	        </a>
      </div>
</div>