<a id="cfp_alert"></a>
<div class="row block translucid-white"> 

      <div class="col-sm-6 col-xs-12 same-height" style="text-align:center;">
        <h3><i class="fa fa-warning" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :cfp_alert %></h3>
      </div>
</div> 

<div class="row block visible-xs translucid-white">
                

      <div class="col-xs-12" style="text-align:center;">
        <h3><i class="fa fa-sign-in" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :cfp_alert %></h3>
      </div>
</div> 
