<div id="speakers" class="row block block-alternative">
  <div class="col-md-12">
    <h1>The Speakers</h1>
    <div class="row speakers">
      <% @speakers.each do |speaker| %>
        <div class="col-md-3 speaker" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          <h3><%= speaker.name %></h3>
          <%= image_tag speaker.picture_url, class: "img-circle" %>
          <p><%= speaker.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
