<div id="venue" class="row block">
  <div class="col-xs-12 col-sm-4">
    <h1 class="visible-xs"><%=t :the_venue %></h1>
    <h2 class="hidden-xs" style="text-align:left; font-size:3.2em;"><%=t :the_venue %></h2>
    <%=t 'venue_about.html' %>
    <table class="table table-bordered table-hover table-condensed" style="background:rgba(255,255,255,.45)">
	  <tbody>
	    <tr>
		  <th class="browse-tag-k">addr:housenumber</th>
		  <td class="browse-tag-v">1250</td>
		</tr>
		<tr>
		  <th class="browse-tag-k">addr:street</th>
		  <td class="browse-tag-v">Cerrito</td>
		</tr>
		<tr>
		  <th class="browse-tag-k">addr:postcode</th>
		  <td class="browse-tag-v">C1010AAZ</td>
		</tr>
		<tr>
		  <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/Key:building?uselang=es-419" title="La página en el wiki con la descripción de la etiqueta building">building</a></th>
		  <td class="browse-tag-v">yes</td>
		</tr>
		<tr>
		  <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/Key:building:levels?uselang=es-419" title="La página en el wiki con la descripción de la etiqueta building:levels">building:levels</a></th>
		  <td class="browse-tag-v">3</td>
		</tr>
		<tr>
		  <th class="browse-tag-k">contact:email</th>
		  <td class="browse-tag-v">cai@cai.org.ar</td>
		</tr>
		<tr>
		  <th class="browse-tag-k">contact:phone</th>
		  <td class="browse-tag-v">+54 11 48110570</td>
		</tr>
		<tr>
		  <th class="browse-tag-k">contact:website</th>
		  <td class="browse-tag-v"><a href="http://www.cai.org.ar/" rel="nofollow">http://www.cai.org.ar/</a></td>
		</tr>
		<tr>
		  <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/Key:name?uselang=es-419" title="La página en el wiki con la descripción de la etiqueta name">name</a></th>
		  <td class="browse-tag-v">Centro Argentino de Ingenieros</td>
		</tr>
		<tr>
		  <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/Key:opening hours?uselang=es-419" title="La página en el wiki con la descripción de la etiqueta opening_hours">opening_hours</a></th>
		  <td class="browse-tag-v">Mo-Fr 09:00-19:00</td>
		</tr>
		<tr>
		  <th class="browse-tag-k">short_name</th>
		  <td class="browse-tag-v">CAI</td>
		</tr>

	  </tbody>
	</table>
  </div>
  <div class="col-sm-8 col-xs-12" style="padding: 0 0 0 0;">
    <div id="map"></div>
  </div>
</div>