<div id="venue" class="row block same-height">
  <div class="col-xs-12 col-sm-4 same-height">
    <h1 class="visible-xs"><i class="fa fa-map-marker" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :the_venue %></h1>
    <h2 class="hidden-xs" style="text-align:left; font-size:3.2em;"><i class="fa fa-map-marker" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :the_venue %></h2>
    <div><%=t 'venue_about.html' %></div>
  </div>
  <div class="col-sm-8 col-xs-12 same-height hidden-xs" id="map" style="padding: 0 0 0 0;">
  </div>
</div>
<div id="map-xs" class="visible-xs"></div>



<!-- Address table, escondida! -->
<div id="venue_html" style="display:none">
	<table class="table table-hover table-condensed" style="font-size: 0.75em; background:rgba(255,255,255,.33)">
		<tbody>
		    <tr>
			  <th class="browse-tag-k">addr:housenumber</th>
			  <td class="browse-tag-v">1250</td>
			</tr>
			<tr>
			  <th class="browse-tag-k">addr:street</th>
			  <td class="browse-tag-v">Cerrito</td>
			</tr>
			<tr>
			  <th class="browse-tag-k">addr:postcode</th>
			  <td class="browse-tag-v">C1010AAZ</td>
			</tr>
			<tr>
			  <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/Key:building?uselang=es-419" title="building">building</a></th>
			  <td class="browse-tag-v">yes</td>
			</tr>
			<tr>
			  <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/Key:building:levels?uselang=es-419" title="building:levels">building:levels</a></th>
			  <td class="browse-tag-v">3</td>
			</tr>
			<tr>
			  <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/Key:name?uselang=es-419" title="name">name</a></th>
			  <td class="browse-tag-v">Centro Argentino de Ingenieros</td>
			</tr>
			<tr>
			  <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/Key:opening hours?uselang=es-419" title="opening_hours">opening_hours</a></th>
			  <td class="browse-tag-v">Mo-Fr 09:00-19:00</td>
			</tr>
			<tr>
			  <th class="browse-tag-k">short_name</th>
			  <td class="browse-tag-v">CAI</td>
			</tr>

		</tbody>
	</table>
</div>