<div id="venue" class="row block">
  <div class="col-xs-12 col-sm-3">
    <h1 class="visible-xs"><%=t :the_venue %></h1>
    <h2 class="hidden-xs" style="text-align:left; font-size:3.6em;"><%=t :the_venue %></h1>
    <p>The National Geographic Institue (Instituto Geográfico Nacional - IGN) is a public organism which has as its main mission the representation of the national territory through the official cartography and watching over so that maps of the Argentine Republic which are made, that come in or that circulate inside the country are compliant with that official cartography.</p>
  </div>
  <div class="col-sm-9 col-xs-12" style="margin: 0 0 0 0; padding: 0 0 0 0;">
    <div id="map"></div>
  </div>
</div>