<div class="container">
  <div class="content">
    <div class="row">
      <div class="span9">
        <div class="hero-unit" style="text-align: right;">
          <h1 style="font-size: 50px; color: #004D6A;">FOSS4G Buenos Aires 2013</h1>
          <h2>Conferencia de Geomática Libre</h2>
          <h1 style="color: #00AFEA;">24 al 26 de abril</h1>
          <h2>Instituto Geográfico Nacional</h2>
          <h3>Buenos Aires, Argentina</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <div class="hero-unit" style="text-align: right;">
          
        </div>
      </div>
      <div class="span3">
        <div class="hero-unit" style="text-align: right;">
          
        </div>
      </div>
    </div>
  </div>
</div>