<div class="container">
  <div class="content">
    <div class="row">
      <div class="span9">
        <div class="hero-unit homeBanner" style="text-align: right;">
          <!-- <iframe src='https://eventioz.com/events/foss4g-buenos-aires-2013--3/registrations/new?iframe=' width='810' height='800' allowTransparency='true' frameborder='0' scrolling='no' style='width:810;height:800;border:none'></iframe> -->
          <h2>Paciencia...</h2>
          <h3>La registración estará disponible muy pronto</h3>
          <h3>¡Muchas gracias!</h3>
        </div>
      </div>
    </div>
  </div>
</div>