<div id="accomodation" class="row block">
  <div class="col-xs-12 col-sm-12">
    <h1 class=""><i class="fa fa-map-marker" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :accomodation %></h1>


		<div id="" class="row">
				<h2>Adventure Hostel</h2>
		</div>
		<div id="" class="row block same-height" style="background:white">
  			<div class="col-xs-12 col-sm-4">

				<b>Administrator:</b>
				<div>Ariel Cessario</div>

				<b>Contact:</b>
				<div>+54 11 5217-3344</br>
				admin@adventurehostel.com.ar</br>
				<a href="http://www.adventurehostel.com.ar" target="_blank">www.adventurehostel.com.ar</a></div>

				<b>Location:</b>
				<div>477 Lavalle (1st floor), Ciudad de Buenos Aires</br>
				(<a href="http://www.openstreetmap.org/node/2965832803#map=17/-34.60183/-58.37313" target="_blank">view map</a>)</div>
  			</div>

  			<div class="col-xs-12 col-sm-4">
				<b>Availability and prices</b> (you will receive a discount showing your SotM's registration ticket):
				<div>Shared room $ 11,60 / $ 13,40</br>
				Double room (shared bathroom) $ 30,60</br>
				Double room (private bathroom) $ 42,85</br>
				Double room extra passenger for $ 14,70 (up to 4 guests)</br>
				<i>Prices in dollars (USD)</i></div>


				<b>Payment methods accepted:</b>
				<div>Cash (preferentially), credit cards (confirm which cards with hostel administration), bank deposits.</div>

				
  			</div>

  			<div class="col-xs-12 col-sm-4">
  				<b>Facilities and services offered:</b>
				<div>Recreation room (with TV and PC), study room, Wi-Fi, breakfast (included with room price), kitchen.</br>
				Travel to different places are also offered (restaurants, tango shows, etc.)</br>

				Custom transfers from the airport (to be agreed with the hostel)</div>
  			</div>
		</div>
   

		<div id="" class="row">
				<h2>V&S Hostel Club</h2>
		</div>
		<div id="" class="row block same-height" style="background:white">
  			<div class="col-xs-12 col-sm-4">

				<b>Administrator:</b>
				<div>Cristina Vassallo</div>

				<b>Contact:</b>
				<div>+54 11 4322-0994 /4327</br>
				reservas@hostelclub.com</br>
				<a href="http://www.hostelclub.com/" target="_blank">www.hostelclub.com</a></div>

				<b>Location:</b>
				<div>887 Viamonte, Ciudad de Buenos Aires</br>
				(<a href="http://www.openstreetmap.org/node/3054753694#map=17/-34.60003/-58.37974" target="_blank">ver mapa</a>)</div>
  			</div>

  			<div class="col-xs-12 col-sm-4">
				<b>Availability and prices</b> </br>(you will receive <b>12% of discount</b> showing your SotM's registration ticket)
				<div>Shared dorm from $ 15 per night, per person.</br>
					Shared dorm with air conditioner from $ 17 per night, per person.</br>
					Private room with private bathroom from $ 70 per night, per room.</br>
					Private room with private bathroom, air conditioner and balcony from $ 72 per night, per room.</br>
					Four bedroom dorm from $ 22 per night, per person.</br>
					Four bedroom dorm with air conditioner from $ 24 per night, per person.</br></br>
					<i>Prices in dollars (USD)</i>
				</div>

				</br><b>Payment methods accepted:</b>
				<div>Ask.</div>

				
  			</div>

  			<div class="col-xs-12 col-sm-4">
  				<b>Facilities and services offered:</b>
				<div>Breakfast, common room, guest kitchen fully equipped. solarium, library, computer and internet, television, DVD and video, laundry services, luggage storage.</br></div>
  			</div>
		</div>
    
		<div id="" class="row">
				<h1>More to come...</h1>
		</div>
  </div>
</div>

