<div id="tourism" class="row block same-height">

  <div class="col-sm-2 col-xs-12 same-height hidden-xs" style="padding: 0 0 0 0;">
  </div>
  <div class="col-xs-12 col-sm-8 same-height" style="background:white">
    <h1 class="visible-xs"><i class="fa fa-bullhorn" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :call_for_presentations %></h1>
    <h2 class="hidden-xs" style="text-align:left; font-size:3.2em;"><i class="fa fa-bullhorn" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :call_for_presentations %></h2>
    

    <div>
			<h2>Objectives of the conference</h2>

		<p>The following objectives are not intended to be limiting but are included as a guide with the intention that the presentations share a general approach or common vision.</p>

		<h3>Main objective</h3>

		Increase the collaborative commitment of OSM users, and spread the benefits of open geoadata.

		<h3>Objectives by areas</h3>

		<h4>The impact of OSM</h4>

		The OpenStreetMap project is celebrating its 10th birthday this year. We propose think about:
		<ul>
			<li>
				<b>Time to look back:</b>
				<ul>
					<li>
						How has OSM affected your life? How has OSM changed the world (or maybe more specific: your world)?
					</li>
				</ul>
			</li>
			<li>
				<b>But also time to look forward:</b>
				<ul>
					<li>
						How will the next 10 years of OSM look like?
					</li>
				</ul>
			</li>
		</ul>


		<h4>Community</h4>

		Spread and promote OSM­based experiences and projects which promotes open data use and boost the regional cooperation.

		<h4>Collective mapping</h4>

		Encourage collaborative mapping/mapping parties to generate socially relevant information.

		<h4>Professional relationships with OSM</h4>

		Strengthen the commitment of public and private entities and their relationships, to improve the level of contribution to OSM, promoting the opening of data, knowledge or technologies.

		<h4>OSM adoption by the wider society</h4>

		Discuss the social and technical possibilities of OSM as a collaborative project to create services that improve the accessibility and usability of open geodata for the public in general.

		<h2>Requirements for abstracts presentation</h2>

		<h3>Date</h3>

		The deadline for abstracts submission was extended to <b>September 14th</b>. 

		<h3>Requirements</h3>

		Works relating to any of the objectives for the conference (The impact of OSM, Community, Collective mapping, Professional relationships with OSM, OSM adoption by the wider society) or others that are considered relevant to the OpenStreetMap community and its relevance to the conference will be submitted assessed by the evaluation team.
		</br>
		The presentation must be unpublished original work and must not have been presented at other events.

		</br>
		You must send the abstract presentation, which must be made using the form posted on the website of the conference. If accepted, the title and abstract you provide as part of your application will be published on the website of the conference.

		<h3>Language</h3>

		The official languages of the State of the Map 2014 are Spanish and English.

		<h3>Presentation</h3>

		The presentation may be up to 20 minutes including time to answer questions.

		<h3>Acceptance</h3>

		The program evaluation team shall decide which presentations get accepted for State of the Map 2014.
		</br>
		Acceptance of the presentation will be notified to the e­mail address provided to us during your application.

		<p>
			<h2>Ready?</h2>
			<a href="https://docs.google.com/forms/d/1AexxB_58OmuRNF-QJKKbOCShKtDbP-zRVw06Q679dJ4/viewform" target="_blank" class="btn btn-lg btn-warning" role="button" title="SOTM 2014 - CfP">go to the CfP submission form</a>
		</p>
    </div>
    
  </div>
  <div class="col-sm-2 col-xs-12 same-height hidden-xs" style="padding: 0 0 0 0;">
  </div>
</div>
<div id="map-xs" class="visible-xs"></div>

