<div id="tourism" class="row block same-height">

  <div class="col-sm-2 col-xs-12 same-height hidden-xs" style="padding: 0 0 0 0;">
  </div>
  <div class="col-xs-12 col-sm-8 same-height" style="background:white">
    <h1 class="visible-xs"><i class="fa fa-bullhorn" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :call_for_presentations %></h1>
    <h2 class="hidden-xs" style="text-align:left; font-size:3.2em;"><i class="fa fa-bullhorn" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :call_for_presentations %></h2>
    

    <div>
	

		<h2>Objetivos de la conferencia</h2>

		<p>Los siguientes objetivos no intentan ser un limitante sino que son incluidos a modo de guía con la intención que las presentaciones compartan un enfoque general o visión en común.</p>

		<h3>Objetivo general</h3>

		Potenciar el compromiso colaborativo de los usuarios de OSM, y difundir los beneficios de la información

		georeferenciada libre.

		<h3>Objetivos por áreas</h3>

		<h4>Impacto de OSM</h4>

		El proyecto OpenStreetMap está celebrando su 10mo cumpleaños este año. Proponemos reflexionar sobre:
		<ul>
			<li>
				<b>Tiempo de mirar hacia atrás:</b>
				<ul>
					<li>
						¿Cómo OSM ha afectado en tu vida? ¿Cómo OSM ha cambiado el mundo (o tal vez más específicamente: tu mundo)?
					</li>
				</ul>
			</li>
			<li>
				<b>También es tiempo de mirar hacia adelante:</b>
				<ul>
					<li>
						¿Cómo serán los próximos 10 años de OSM?
					</li>
				</ul>
			</li>
		</ul>


		<h4>Comunidad</h4>

		Difundir y fomentar las experiencias y proyectos basados en OSM que promuevan el uso de datos abiertos

		y estimulan la cooperación regional.

		<h4>Mapeo colectivo</h4>

		Incentivar los el mapeo colaborativo/mapatones, para generar información socialmente relevante.

		<h4>Relaciones profesionales con OSM</h4>

		Potenciar el compromiso de las entidades tanto públicas como privadas y sus interrelaciones, para mejorar

		el nivel de contribución para con OSM, promoviendo la apertura de datos y conocimiento o tecnologías.

		<h4>Adopción de OSM por la sociedad en general</h4>

		Debatir las posibilidades sociales y técnicas de OSM como proyecto colaborativo, para generar servicios

		que mejoren la accesibilidad y usabilidad de los geodatos abiertos por parte del público en general.

		<h2>Requisitos para la presentación de resúmenes</h2>

		<h3>Fecha</h3>

		Se prorrogó la fecha límite para la presentación de resúmenes al <b>14 de septiembre</b>.

		<h3>Bases</h3>

		Podrán presentarse trabajos referidos a cualquiera de los objetivos planteados para la conferencia (Impacto

		de OSM, Comunidad, Mapeo colectivo, Relaciones profesionales con OSM, Adopción de OSM por la

		sociedad en general) u otros que sean considerados relevantes para la comunidad OpenStreetMap y su

		pertinencia a la conferencia será evaluada por el equipo evaluador.

		Deberán ser trabajos originales inéditos y no haber sido presentados en otros eventos.

		Debe enviarse el resumen de la presentación, que deberá ser confeccionado mediante el formulario

		publicado en el sitio web de la conferencia. Si se acepta, el título y el resumen que proporcione como parte

		de su aplicación serán publicados en el sitio web de la conferencia.

		<h3>Idioma</h3>

		Los idiomas oficiales del State of the Map 2014 son español e inglés.

		<h3>Presentación</h3>

		Las presentaciones podrán extenderse hasta 20 minutos incluyendo el tiempo para responder preguntas.

		<h3>Aceptación</h3>

		El equipo evaluador del programa decidirá qué presentaciones son aceptados para el State of the Map

		2014. La aceptación de la presentación será notificada a la dirección de correo electrónico que nos

		proporcionó durante su aplicación.

		<p>
			<h2>¿Listo?</h2>
			<a href="https://docs.google.com/forms/d/1AexxB_58OmuRNF-QJKKbOCShKtDbP-zRVw06Q679dJ4/viewform" target="_blank" class="btn btn-lg btn-warning" role="button" title="SOTM 2014 - CfP">ir al Formulario de envío de propuestas</a>
		</p>
    </div>
    
  </div>
  <div class="col-sm-2 col-xs-12 same-height hidden-xs" style="padding: 0 0 0 0;">
  </div>
</div>
<div id="map-xs" class="visible-xs"></div>

