<div id="accomodation" class="row block">
  <div class="col-xs-12 col-sm-12">
    <h1 class=""><i class="fa fa-map-marker" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :accomodation %></h1>


		<div id="" class="row">
				<h2>Adventure Hostel</h2>
		</div>
		<div id="" class="row block same-height" style="background:white">
  			<div class="col-xs-12 col-sm-4">

				<b>Administrador:</b>
				<div>Ariel Cessario</div>

				<b>Contacto:</b>
				<div>+54 11 5217-3344</br>
				admin@adventurehostel.com.ar</br>
				<a href="http://www.adventurehostel.com.ar" target="_blank">www.adventurehostel.com.ar</a></div>

				<b>Ubicación:</b>
				<div>Lavalle 477 (1er piso), Ciudad de Buenos Aires</br>
				(<a href="http://www.openstreetmap.org/node/2965832803#map=17/-34.60183/-58.37313" target="_blank">ver mapa</a>)</div>
  			</div>

  			<div class="col-xs-12 col-sm-4">
				<b>Disponibilidad y precios</b> (indicando y validando participación en SOTM 2014, recibirás un descuento):
				<div>Habitación compartida $ 11,60 / $ 13,40</br>
				Habitación doble (baño compartido) $ 30,60</br>
				Habitación doble (baño privado) $ 42,85</br>
				Huésped extra en habitación doble: $ 14,70 (hasta 4 huéspedes)</br>
				<i>Precios en dólares (USD)</i>
			</div>


				<b>Métodos de pago:</b>
				<div>Efectivo (preferentemente), Tarjetas de crédito (confirmar cuáles en administración), Depósitos bancarios.</div>

				
  			</div>

  			<div class="col-xs-12 col-sm-4">
  				<b>Servicios ofrecidos:</b>
				<div>Sala de recreación (con TV y PC), sala de estudio, Wi-Fi, desayuno (incluído en el precio), cocina.</br>
				También se ofrecen viajes a distintos lugares (restaurantes, shows de tango, etc.)</br>

				Transporte privado desde el aeropuesto (A acordar con el hostel)</div>
  			</div>
		</div>
    

		<div id="" class="row">
				<h1>Pronto mas opciones...</h1>
		</div>
  </div>
</div>

