<div id="accommodation" class="row block">
  <div class="col-xs-12 col-sm-12">
    <h1 class=""><i class="fa fa-map-marker" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :accommodation %></h1>

		<i>Los precios son informativos, confirmar con los establecimientos.</i>

		<div id="" class="row">
				<h2>Adventure Hostel</h2>
		</div>
		<div id="" class="row block same-height" style="background:white">
  			<div class="col-xs-12 col-sm-4">

				<b>Administrador:</b>
				<div>Ariel Cessario</div></br>

				<b>Contacto:</b>
				<div>+54 11 5217-3344</br>
				admin@adventurehostel.com.ar</br>
				<a href="http://www.adventurehostel.com.ar" target="_blank">www.adventurehostel.com.ar</a></div></br>

				<b>Ubicación:</b>
				<div>Lavalle 477 (1er piso), Ciudad de Buenos Aires</br>
				(<a href="http://www.openstreetmap.org/node/2965832803#map=17/-34.60183/-58.37313" target="_blank">ver mapa</a>)</div>
  			</div>

  			<div class="col-xs-12 col-sm-4">
				<b>Disponibilidad y precios</b> (recibirás un <b>descuento</b> presentando tu ticket de inscripción al SotM):
				<div>Habitación compartida $ 11,60 / $ 13,40</br>
					Habitación doble (baño compartido) $ 30,60</br>
					Habitación doble (baño privado) $ 42,85</br>
					Huésped extra en habitación doble: $ 14,70 (hasta 4 huéspedes)</br></br>
					<i>Precios en dólares (USD)</i>
				</div></br>


				<b>Métodos de pago:</b>
				<div>Efectivo (preferentemente), Tarjetas de crédito (confirmar cuáles en administración), Depósitos bancarios.</div>

				
  			</div>

  			<div class="col-xs-12 col-sm-4">
  				<b>Servicios ofrecidos:</b>
				<div>Sala de recreación (con TV y PC), sala de estudio, Wi-Fi, desayuno (incluído en el precio), cocina.</br>
				También se ofrecen viajes a distintos lugares (restaurantes, shows de tango, etc.)</br>

				Transporte privado desde el aeropuesto (A acordar con el hostel)</div>
  			</div>
		</div>


		<div id="" class="row">
				<h2>V&S Hostel Club</h2>
		</div>
		<div id="" class="row block same-height" style="background:white">
  			<div class="col-xs-12 col-sm-4">

				<b>Administrador:</b>
				<div>Cristina Vassallo</div></br>

				<b>Contacto:</b>
				<div>+54 11 4322-0994 /4327</br>
				reservas@hostelclub.com</br>
				<a href="http://www.hostelclub.com/" target="_blank">www.hostelclub.com</a></div></br>

				<b>Ubicación:</b>
				<div>Viamonte 887, Ciudad de Buenos Aires</br>
				(<a href="http://www.openstreetmap.org/node/3054753694#map=17/-34.60003/-58.37974" target="_blank">ver mapa</a>)</div>
  			</div>

  			<div class="col-xs-12 col-sm-4">
				<b>Disponibilidad y precios</b> </br>(recibirás un <b>12% de descuento</b> presentando tu ticket de inscripción al SotM):
				<div>Habitación compartida $ 15 por noche, por persona.</br>
					Habitación compartida con aire acondicionado $ 17 por noche, por persona.</br>
					Habitación privada con baño privado desde $ 70 por noche, por habitación.</br>
					Habitación privada con baño privado, aire acondicionado y balcón desde $ 72 por noche, por habitación.</br>
					Habitación cuádruple con baño privado desde $ 23 por noche, por persona.</br>
					Habitación cuádruple con aire acondicionado desde $ 24 por noche, por persona.</br></br>
					<i>Precios en dólares (USD)</i>
				</div>

				</br><b>Métodos de pago:</b>
				<div>Consultar.</div>

				
  			</div>

  			<div class="col-xs-12 col-sm-4">
  				<b>Servicios ofrecidos:</b>
				<div>Desayuno, salón de estar, cocina equipada, terraza, biblioteca, computación e internet, televisión - DVD -videoteca, servicio de lavanderia, depósito de equipaje.</br></div>
  			</div>
		</div>
  </div>
</div>

