<div id="tourism" class="row block same-height">
  <div class="col-xs-12 col-sm-6 same-height">
    <h1 class="visible-xs"><i class="fa fa-suitcase" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :tourism %></h1>
    <h2 class="hidden-xs" style="text-align:left; font-size:3.2em;"><i class="fa fa-suitcase" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :tourism %></h2>
    

    <div>


    </div>

  </div>
  <div class="col-sm-6 col-xs-12 same-height hidden-xs" id="map" style="padding: 0 0 0 0;">
  </div>
</div>
<div id="map-xs" class="visible-xs"></div>

