<div id="transportation" class="row block">
  <div class="col-xs-12 col-sm-12">
    <h1 class=""><i class="fa fa-map-marker" style="color:rgba(237, 28, 36, 0.75)"></i> <%=t :transportation %></h1>

		
		<div id="" class="row">
				<h2>Viajar a Buenos Aires</h2>
		</div></br>
		<div id="" class="row block" style="background:white">
  			<div class="col-xs-12 col-sm-4">

				<h3>Por avión</h3></br>

				<h4>Aerolíneas Argentinas</h4>
				<i>Trasnporte oficial. Pasajes con descuento especial</i></br></br>

				<div>
				<b>Destinos</b></br>
					<a href="http://www.openstreetmap.org/?mlat=-34.8223&mlon=-58.5361#map=14/-34.8223/-58.5361" target="_blank">Aeropuerto Internacional Ministro Pistarini - Ezeiza (EZE)</a>, o
					<a href="http://www.openstreetmap.org/?mlat=-34.5600&mlon=-58.4144#map=14/-34.5600/-58.4144" target="_blank">Aeroparque Jorge Newbery (AEP)</a>.
					</br></br>
				</div>

				<div>
				Realice su reserva y pago mediante alguna de las siguientes opciones mencionando cuál es el evento a participar para conocer los beneficios viajando con Aerolíneas Argentinas.</br></br>

				<b>Desde Argentina</b></br>
				<ul>
					<li>
						Call Center Argentina <a href="tel:+54081022286527">+54 0810-222-86527</a>, con atención las 24hs.
					</li>
					<li>
						<a href="http://ww1.aerolineas.com.ar/arg/main.asp?idSitio=AR&idPagina=7&idIdioma=es" target="_blank">Red de sucursales</a> en todo el país.
					</li>
					<li>
						<a href="http://ww1.aerolineas.com.ar/arg/main.asp?idSitio=AR&idPagina=161&idIdioma=es&congresoID=2987" target="_blank">Página de reserva</a>.
					</li>
				</ul></br>

				<b>Desde otros países</b></br>
				<ul>
					<li>
						Llamando al Centro de Atención Telefónica de su país de residencia.
					</li>
					<li>
						<a href="http://ww1.aerolineas.com.ar/arg/main.asp?idSitio=AR&idPagina=8&idIdioma=es" target="_blank">Sucursales</a> en América, Europa y Oceanía.
					</li>
				</ul>

				</div></br>

  			</div>

  			<div class="col-xs-12 col-sm-4">
				
				<h3>Omnibus</h3></br>
				<h4>Venta de pasajes por Internet</h4></br></br>

				<div>
				<b>Destino</b></br>
					<a href="http://www.openstreetmap.org/?mlat=-34.58714&mlon=-58.37463#map=17/-34.58714/-58.37463" target="_blank">Terminal de ómnibus de Retiro</a></br>
					Teléfono: +54 11 4310-0700
					</br></br>
				</div>

				<b>Central de Pasajes</b>
				<div>+54 11 4343-4003 (lunes a viernes de 9 a 19:30 hs. Sábados de 9 a 13 hs.)</br>
				info@centraldepasajes.com.ar</br>
				<a href="https://www.centraldepasajes.com.ar/cdp/default.aspx" target="_blank">www.centraldepasajes.com.ar</a></div></br>

				<b>Plataforma 10</b>
				<div>comunicacion@plataforma10.com</br>
				<a href="http://www.plataforma10.com/" target="_blank">www.plataforma10.com</a></div></br>

				<b>Omnilíneas</b></br>
				
				<a href="http://www.omnilineas.com.ar/" target="_blank">www.omnilineas.com.ar</a>
			</div>

  			<div class="col-xs-12 col-sm-4">
  				
				<h3>Por barco</h3>
				<i>(Desde Uruguay)</i>

				<h4>Buquebus</h4></br>

				<div>
				<b>Destino</b></br>
					<a href="http://www.openstreetmap.org/?mlat=-34.59774&mlon=-58.36758#map=17/-34.59774/-58.36758" target="_blank">Terminal fluvial Dársena Norte</a>		
					</br></br>
				</div>

				<div>+598 130</br>
				atclientes@buquebus.com</br>
				<a href="http://www.buquebus.com/" target="_blank">www.buquebus.com</a></div></br>				

				<h4>Colonia Express</h4>
				<i>(Desde Colonia, Uruguay)</i></br>

				<div>
				<b>Destination</b></br>
					<a href="http://www.openstreetmap.org/?mlat=-34.62613&mlon=-58.35942#map=18/-34.62613/-58.35942" target="_blank">Terminal Dársena Sur</a>		
					</br></br>
				</div>

				<div>+598 2 2401-6666</br>
				<a href="http://coloniaexpress.com" target="_blank">coloniaexpress.com</a></div></br>
  			</div>
		</div>
		</br>
   
		<!--
		<div id="" class="row">
			<h2>Cómo llegar al lugar desde</h2>
		</div></br>
		<div id="" class="row block" style="background:white">
  			<div class="col-xs-12 col-sm-4">

				<h3>Aeropuertos</h3>
				<h4>Aeropuerto Internacional Ministro Pistarini - Ezeiza (EZE)</h4>

				<b>Ruta directa</b></br>
					<div>
						<a href="http://osrm.at/9Tu" target="_blank">http://osrm.at/9Tu</a>
					</div></br>

				<b>Transportes directos</b></br></br>
					<div>
						<u>Manuel Tienda León</u></br>
						Puntos de venta</br>
						Terminal A > Arribos > Planta baja > Sector público.</br>
						Terminal B > Arribos > Planta baja > Sector público.</br>
						Conector > Exterior > Planta baja > Sector público.</br>
						Terimnal B > Exterior > Planta baja > Salida Buses > Sector público.</br>
						Teléfonos</br>
						+54 11 0810-888-5366</br>
						+54 11 4314-3636</br>
						+54 11 4315-5115</br>
						informes@tiendaleon.com.ar</br></br>

						<u>World Car</u></br>
						Terminal A > Arribos > Planta baja > Sector público.</br>
						+54 11 5480-1215</br>
						www.worldcar-sa.com</br>
						reservas@worldcar-sa.com</br></br>

						<u>Vip Cars</u></br>
						Terminal A > Arribos > Planta baja > Sector público.</br>
						+54 11 5480-4590</br></br>

						<u>Transfer Express</u></br>
						Terminal A > Arribos > Planta baja > Sector público.</br>
						+54 11 5811-1986</br>
						+54 0800 444-4872</br>
						reservas@transferexpress.com.ar</br>

					</div></br>

				<b>Taxi</b></br></br>
					<div>
						<u>Manuel Tienda León</u></br>
						Puntos de venta</br>
						Terminal A > Arribos > Planta baja > Sector público.</br>
						Terminal B > Arribos > Planta baja > Sector público.</br>
						Conector > Exterior > Planta baja > Sector público.</br>
						Terimnal B > Exterior > Planta baja > Salida Buses > Sector público.</br>
						Teléfonos</br>
						+54 11 0810-888-5366</br>
						+54 11 4314-3636</br>
						+54 11 4315-5115</br>
						informes@tiendaleon.com.ar</br></br>
					</div></br>

				<h4>Aeroparque Metropolitano Jorge Newbery (AEP)</h4>

				<b>Ruta directa</b></br>
					<div>
						<a href="http://osrm.at/9TO" target="_blank">http://osrm.at/9TO</a>
					</div></br>

				<b>Formas de viaje</b></br>
					<div>
						
					</div></br>

  			</div>

  			<div class="col-xs-12 col-sm-4">
				
				<h3>Terminales de omnibus</h3>
				<h4>Terminal de Retiro</h4>

				<b>Ruta directa</b></br>
					<div>
						<a href="http://osrm.at/9Tv" target="_blank">http://osrm.at/9Tv</a>
					</div></br>

				<b>Formas de viaje</b></br>
					<div>
						
					</div></br>

  			</div>

  			<div class="col-xs-12 col-sm-4">
  				
				<h3>Terminales fluviales</h3>
				<h4>Terminal fluvial Dársena Norte (Buquebus)</h4>

				<b>Ruta directa</b></br>
					<div>
						<a href="http://osrm.at/9TP" target="_blank">http://osrm.at/9TP</a>
					</div></br></br>

				<b>Formas de viaje</b></br>
					<div>
						
					</div></br>

				<h4>Terminal Dársena Sur (Colonia Express)</h4>

				<b>Ruta directa</b></br>
					<div>
						<a href="http://osrm.at/9TQ" target="_blank">http://osrm.at/9TQ</a>
					</div></br></br>

				<b>Formas de viaje</b></br>
					<div>
						
					</div></br>

		</div>
		-->

  </div>
 </br></br>

</div>

