// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet {
  font-size: 12px;
}

.tweet_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.tweet_list li {
  border-top: 1px dashed #004D6A;
  padding-bottom: 5px;
  margin-top: 5px;
  clear: both;
  min-height: 32px;
}

.tweet_avatar img {
  margin: 5px 5px 0px 0px;
  float: left;
}

.tweet_list .tweet_first {
  border-top: none;
}

#map { 
  height: 250px;
}