// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-image: url('banner_bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px 0 3% 0;
  height: 100%;
}

.banner .logo {
  width: 25%;
  min-width: 200px;
  margin: 3% 0 3% 0;
}

.jumbotron {
  background-color: rgba(8, 34, 67, 0.5);
  color: #FFF;
  text-align: center;
  border-radius: 6px;
}

.block {
  padding: 3% 5% 5% 5%;
}

.block h1 {
  font-size: 60px;
  font-family: 'LiberationSansBold';
  text-align: center;
  margin-bottom: 50px;
}

.block p {
  font-family: 'LiberationSans';
  font-size: 20px;
  margin-bottom: 50px;
}

.carousel img {
  width: 100%;
  border-radius: 6px;
}

.block-alternative {
  background-color: #082243;
  color: #FFF;
}

.speaker {
  
}

.speaker img {
  width: 90%;
  max-width: 300px;
}

.speaker p {
  font-size: 14px;
  padding-right: 10%;
  padding-top: 10px;
}
.sponsor {
  line-height:10em /* hack */
}

.sponsor img {
  width: 90%;
  max-width: 300px;
}

.sponsor p {
  font-size: 14px;
  padding-right: 10%;
  padding-top: 10px;
}

#map {
  height: 500px;
  border-radius: 6px;
}