// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet {
  font-size: 12px;
}

.tweet_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.tweet_list li {
  border-top: 1px dashed #004D6A;
  padding-bottom: 5px;
  margin-top: 5px;
  clear: both;
  min-height: 32px;
}

.tweet_avatar img {
  margin: 5px 5px 0px 0px;
  float: left;
}

.tweet_list .tweet_first {
  border-top: none;
}

#map { 
  height: 250px;
}

#speakers img {
  height: 169px;
  width: 169px;
}

#speakers h5 {
  margin-top: -10px;
  color: #6D6E72;
}

.country {
  display: block;
  height: 48px;
  margin: 131px 0 0 124px;
  position: absolute;
  width: 48px;
  z-index: 3;
}

.argentina {
  background: url('flags/Argentina.png');
}

.canada {
  background: url('flags/Canada.png');
}

.colombia {
  background: url('flags/Colombia.png');
}

.spain {
  background: url('flags/Spain.png');
}

.united-states {
  background: url('flags/United States of America(USA).png');
}

#sponsors img.platinum {
  width: 200px;
  max-height: 200px;
}

#sponsors img.gold {
  width: 120px;
  max-height: 120px;
}

#sponsors img.silver {
  width: 80px;
  max-height: 80px;
}

#sponsors img.bronze {
  width: 30px;
  max-height: 30px;
}