<div class="row footer block">
	<div class="col-md-12">
		<%=t 'map_credits.html' %></br>
		<%=t :powered_by %> <a href="https://github.com/maurimiranda/libreconf" target="_blank" title="Fork me!">libreconf</a>, <%=t :developed_by %> <a href="http://www.openstreetmap.com.ar" target="_blank" title="OpenStreetMap Argentina">OSM-Ar</a> &amp; <a href="https://www.facebook.com/GeoinquietosArgentina" target="_blank" title="Geoinquietos Argentina">Geoinquietos</a>.
	</div>
</div>