<div class="row footer block">
	<div class="col-md-12">
		Powered by <a href="https://github.com/maurimiranda/libreconf" target="_blank" title="Fork me!">libreconf</a>, Made by <a href="http://openstreetmap.org.ar" title="OpenStreetMap Argentina">OSM-Ar</a> and <a href="https://www.facebook.com/GeoinquietosArgentina" title="Geoinquietos Argentina">Geoinquietos</a> communities.
	</div>
</div>