<!-- Static navbar -->
      <div class="navbar" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">SotM 2014 - Libreconf Admin</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sponsors <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/admin/sponsors/">List sponsors</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/sponsors/new">Create sponsor</a></li>

                  <li class="divider"></li>

                  <li><a href="/admin/sponsor_types/">List sponsor types</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/sponsor_types/new">Create sponsor type</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Speakers <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/admin/speakers/">List speakers</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/speakers/new">Create speaker</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Abstracts <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/admin/abstracts/">List abstracts</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/abstracts/new">Create abstract</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workshops <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/admin/workshops/">List workshops</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin/workshops/new">Create workshop</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>